<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container text-center" style='margin-top: 12px;'>
    <!-- http://shpa.org.kh/wp-content/uploads/2014/05/logo.png -->
    <%= link_to ENV['APP_NAME'], root_url, class: 'sign-in-branch' %>
  </div><!-- /.container-fluid -->
</nav>