.input-row {
  margin: 10px 0;
}

#notification {
  right: 25px;
  top: 65px;
  border: 1px solid #eee;
  position: fixed;
  display: block;
  z-index: 9999;
  min-width: 320px;
}

.w65 {
  width: 65px !important;
}
