.input-row {
  margin: 10px 0;
}

#notification {
  right: 25px;
  top: 65px;
  border: 1px solid #eee;
  position: fixed;
  display: block;
  z-index: 9999;
  min-width: 320px;
}

.w65 {
  width: 65px !important;
}

.s-width {
  width: 12em !important;
}

.error {
  color: red;
}

.app-container {
  padding: 10px 20px;
}

footer.copyright {
  background: none repeat scroll 0 0 #fff;
  bottom: 0;
  display: block;
  padding: 10px;
  position: fixed;
  width: 100%;
}
