default: &default
  SHPA_API_URL: 'http://localhost:3333/api'

  APP_NAME: "Insurance Reminder"
  VERBOICE_URL: http://localhost:3030/api2
  EMAIL: 'example@verboice.org'
  PASSWORD: ''
  CHANNEL_ID: ''
  CALL_FLOW_ID: ''

development:
  <<: *default
  SHPA_USERNAME: development
  SHPA_PASSWORD: development

test:
  <<: *default
  SHPA_USERNAME: test
  SHPA_PASSWORD: test

production:
  <<: *default
  SHPA_USERNAME: production
  SHPA_PASSWORD: production